*{
    box-sizing: border-box;
}

body{
    margin: 10% 25% 10% 25%;
    
}
.image img{
    width : 40vw;

}
button{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height : 50px;
    width: 40vw;
    background: linear-gradient(45deg, yellow,green);
}
